*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: #1f2937;
    font-family:'roboto',sans-serif,'Times New Roman';
    display: flex;
    flex-direction: column;
    
}

.header-section{
    display: flex;
    padding: 0 130px;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
    
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-weight: normal;
}

.header-links{
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.content-section-one{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.information-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
    width: 500px;
    justify-content: center;
}

.photo-grid{
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.signUpC1{
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-anchor: middle;
    color: #f9faf8;
}

.info-header{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.info{
    font-size: 18px;
    color: #e5e7eb;
}

.content-section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 60px;
}

.section2-photo-grid{
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
}

.section2-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 50px;
}

.subtext-one,
.subtext-two,
.subtext-three,
.subtext-four{
    color:#1f2937;
    font-size: 16px;
    text-align: center
}

.content-section-three{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 170px;
}

.inspirational-quote{
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 990px;
    flex: 0 0 auto;
}

.quote-author{
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 686px;
    width: 250px;
    flex: 0 0 auto;
}

.content-section-four{
    padding: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.popup-bar{
    display: flex;
    border-radius: 12px;
    padding: 40px;
    background-color: #3882f6;
    max-width: 800px;
    align-items: center;
}

.popup-info{
    display: flex;
    color: white;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.signUpC4{
    margin-left: auto;
    text-align: center;
    width: 100px;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

